.App {
  text-align: center;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie-wrapper {
  width: 300px;
  background-color: antiquewhite;
}

.movie-title {
  height: 60px;
  padding: 2px;
  margin-top: 26px;
  font-weight: bold;
}

.movie-image {
  width: 300px;
}

.movie-search {
  background-color: white;
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: bold;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border-color: antiquewhite;
}

.movie-date {
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

.movie-rate {
  color: red;
  margin-bottom: 5px;
}